{% extends "website/base.html" %}
{% load static %}

{% block content %}

<div class="heading-2">
    <h1>Academics</h1>
</div>

<div class="pic">
    <img src="{% static 'images/school_building.jpg'%}" class='school' alt="school">
</div>
<div class="acad"><h1>Academic Information</h1>
<p>XYZ Academy designs and operates a well – rounded curriculum for the provision of broad-based, balanced, relevant and differentiated education. It is our vision and mission to give our students a high-quality education that is exciting, challenging, inspiring, meaningful and dynamic.</p>
</div>
<div class="acad-2"><h1>Our School Curriculum</h1>
<p>
    Academic Information
    Lightway Academy designs and operates a well – rounded curriculum for the provision of broad-based, balanced, relevant and differentiated education. It is our vision and mission to give our students a high-quality education that is exciting, challenging, inspiring, meaningful and dynamic.
    
    Our School Curriculum
    The school offers the basic subjects like Mathematics, English, ICT, Phonics, Basic Science & Technology, Handwriting, Civic Education, Cultural & Creative Arts, Verbal Reasoning, Quantitative Reasoning, Social Studies, Home Economics, C.R.S., Hausa, French, Igbo, Vocational Aptitude, Agricultural Science, Speech Transition, Biology, Physics, Economics, Accounting, Commerce, Geography, Further Maths, Government, Technical Drawing, etc.
    
    Our Curriculum Aims At:
    
    ​
    
    . Preparing out pupils/ students for useful living in their contemporary society.
    
    . Preparing them to transit into higher education with ease.
    
    . Providing them with a diversified curriculum with great future opportunities.
    
    . Inspiring their creative, possibilities and positive reasoning minds.
    
    . Equipping them to live effectively in our modern age of science and technology.
    
    . Raising a generation of people who can think independently, respect others’ views and feelings,
    
    . Appreciate the values of society and live commendable lives.</p>
</div>

<div>
    <footer class="footer">
        
            <p>Contact us:</p>
            <p>Email: admin@xyxacademy.org</p>
            <p>Main School: +91 000 888 555 66</p>
            <p>No 58, Park Street, Off Aminu Kano Crescent, Wuse II, Epheotus</p>
           
          
    </footer>
</div>




{% endblock content%}