{% extends "website/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

  
<div class="heading-3">
    <h1>Contact Us</h1>
</div>

<div class="mess">
    {% for message in messages %}
      {% if message %}
        <div class="container alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
    {% endfor %}
  </div>

 
<div class="main-form"> 

<div class="info">
    <h2>School Information</h2><br>
    <p>Contact us:</p>
    <p>Email: admin@xyxacademy.org</p>
    <p>Main School: +91 000 888 555 66</p>
    <p>No 58, Park Street, Off Aminu Kano Crescent, Wuse II, Epheotus</p>
</div>

<div class="form-1">
<form action="{% url 'contact' %}" method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn btn-dark">Submit</button>
</form>
</div>
</div> 

<footer class="footer mt-auto py-3 bg-light">
    <div class="container footer-main">
      <span class="text-muted">My Website &copy; 2023</span>
    </div>
</footer>
{% endblock content%}